.*.swp
a.out
*.o
kseq_barcode_directory
kseq_count
kseq_count_gc_n
kseq_count_q30
kseq_count_q30_minimal
kseq_fasta2bed
kseq_filter_freq
kseq_filter_length
kseq_id_only
kseq_linearize
kseq_qual_offset
kseq_sequence_lengths
kseq_sequence_only
kseq_tabular
kseq_test
